.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */

.blue-color {
  color: #0b69ff;
}

.comment-list-item {
  list-style-type: none;
  margin-top: 30px;
}

.name-time-container {
  display: flex;
}

.initial-letter {
  width: 45px;
  font-size: 15px;
  text-align: center;
  height: 45px;
  color: white;
  border-radius: 40px;
  margin-top: 8px;
}

.user-name {
  margin-left: 10px;
  color: #334155;
  font-weight: 600;
  margin-bottom: 20px;
}

.comment-timing {
  margin-left: 20px;
  font-size: 12px;
  margin-top: 20px;
  color: #64748b;
}

.comment-text {
  color: #7e858e;
  margin-top: 2px;
  margin-left: 50px;
}

.like-delete-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.like-con-text-container {
  display: flex;
  align-items: center;
}

.like-icon {
  width: 25px;
}

.like-text {
  margin-left: 12px;
}

.delete-button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.delete-icon {
  width: 22px;
}
